//scroll nav
.scroll-nav {
  color: $white;
  font-weight: bold;
  background-color: rgba(168, 168, 168,0.8);
  //border: 1px solid #a2a9b1;
  padding: 15px 10px;
  position: fixed;
  top: 20vh;

  @media #{$notlarge} {
  display: none;
}

  a {
      color: $white;
      text-decoration: none;
  }
 
  a:hover {
     color:$red;
  }
  
  &:before {
      content: "CATALOG:";
      font-weight: bold;
  }
}

.scroll-nav__list {
  margin: 0;
  padding-left: 1.4em;
  list-style-type: upper-roman;
}

.scroll-nav__item {
  margin-bottom: 5px;
}

.scroll-nav__item--active > a {
  padding: 5px;
  font-weight: bold;
  position: relative;
  color: $white;
  background: $red;
  text-decoration: none;
  @include transition(0.5s);
  &:hover{
      color:$white
  }
}

.scroll-nav__link {
  color: #0645ad;
  text-decoration: none;
  //display: block;
  //margin: 0 auto;
  //padding-left: 42px;
}